*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9e7f1f1;
    /* border: 2px solid red; */
}

.card{
    max-width: 250px;
    width: 70%;
    height: auto;
    min-height: 350px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(34,193,195,1) 26%, rgba(101,38,134,1) 91%);
    box-shadow: 0px 0px 10px #2f2f2f7b;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .card {
        width: 95%;
        min-height: 450px;
    }
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 5px 15px;
}

.btn{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50%;
}

.btn img{
    width: 10px;
}

.weatherData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherData img{
    width: 100px;
    margin: 20px 0px 10px;
}
.weatherData h1{
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.weatherData h2{
    margin-top: 8px;
    color: white;
    font-weight: 400;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

.subData{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}    

.humidity, .air{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left img{
    width: 25px;
}

.right{
    margin-left: 10px;
    color: white;
    font-weight: 200;
    font-size: 10px;
    text-transform: capitalize;
    text-align: left;
}
